body {
  margin: 0;
  background-color: #d12929;
}
nav li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15pt;
}
nav ul {
  display: inline;
}
nav {
  height: 100px;
  background-color: #412D73;
  width: 100%;
}
nav img {
  height: 50px;
  margin-left: 10px;
  display: inline;
}
header {
  background-image: url("images/backgrounds/background-18.32.png");
  background-attachment: fixed;
  height: 100%;
}
#hlogo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
